<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<!-- Bootstrap core CSS -->
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Reboot -->
    <link href="/public/css/bootstrap-reboot.min.css" rel="stylesheet">
	{{{stylesheets}}}
	{{{scripts}}}
</head>

<body>
	<main>
		{{{body}}}
	</main>
</body>

</html>