<!DOCTYPE html>
<html lang="en">

<head>
	{{> templates/head}}
</head>

<body class={{pageType}}>
	{{!-- navbar --}}
	{{> templates/navbar}}
	{{!-- main --}}
	<main>
		{{{body}}}
	</main>
	{{!-- footer --}}
	{{!-- scripts --}}
	{{> templates/scripts}}
</body>

</html>