<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	{{{stylesheets}}}
	{{{scripts}}}
</head>

<body>
	<main>
		{{{body}}}
	</main>
</body>

<script>
	calendar.next();
</script>

</html>