<div class="landing">
    <h1 class="landing-title">Student Life Balance</h1>

    <form action="/login">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
    </form>
    </br>
    <form action="/startform">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up"/>
    </form>
</div>