<form id="start-form" class="start-form" method="post" onsubmit="return submitStartForm(this);">
	<div class="tab">
		<!-- User Sign Up -->
		<h3> User Information </h3>

		<label for="userName">User Name</label>
		<input type="text" id="userName" placeholder="User Name" required>
		</br>
		<label for="userEmail">User Email</label>
		<input type="email" id="userEmail" placeholder="User Email" required>
		</br>
		<label for="userPassword">User Password</label>
		<input type="password" id="userPassword" placeholder="User Password" required>
		</br>
	</div>
	<div class="tab">
		<!-- 1. Courses -->
		<h3> Input Class Schedule </h3>
		<h4> Option 1: Upload .isc file </h4>
		<div>
			<!-- TODO Auto-detect semester or allow user to input -->
			<!-- https://web.stevens.edu/stusched/getics.php?s={year}{semester} -->
			<p> Download Stevens .isc file for semester:
				<a href="https://web.stevens.edu/stusched/getics.php?s=2019s" target="__blank"> Spring 2019</a>
			</p>
		</div>
		<div class="custom-file">
			<p> Upload .isc course schedule </p>
			<input type="file" class="custom-file-input" id="customFile">
			<label class="custom-file-label" for="customFile">Choose file</label>
		</div>
		</br>

		<h4> Option 2: Input Classes Manually </h4>

		<div>
			<!-- Need an extra div so button stays at bottom -->
			<div>
				<div id="course-form-0">

					<label for="courseNumber">Course Number</label>
					<input type="text" id="courseNumber" placeholder="Ex. CS 545">
					</br>
					<label for="courseName">Course Name</label>
					<input type="text" id="courseName" placeholder="Ex. Human Computer Interaction">
					</br>

					<!-- Days -->
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="courseMonday" value="Monday">
						<label class="form-check-label" for="courseMonday">Monday</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="courseTuesday" value="Tuesday">
						<label class="form-check-label" for="courseTuesday">Tuesday</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="courseWednesday" value="Wednesday">
						<label class="form-check-label" for="courseWednesday">Wednesday</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="courseThursday" value="Thursday">
						<label class="form-check-label" for="courseThursday">Thursday</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="courseFriday" value="Friday">
						<label class="form-check-label" for="courseFriday">Friday</label>
					</div>
					</br>

					<label for="courseStartTime">Course Start Time </label>
					<input type="time" id="courseStartTime">
					</br>
					<label for="courseEndTime">Course End Time</label>
					<input type="time" id="courseEndTime">
					</br></br>
				</div>


			</div>
			<button type="button" onclick="removeCourseForm()" class="remove-course-form-button">-</button>
			<button type="button" onclick="addCourseForm()">+</button>
		</div>
		<!-- </br> -->
	</div>
	<div class="tab">
		<!-- 2. Work/Life Balance Goals -->
		<h3> Student/Life Balance Goals </h3>
		<div>
			<!-- TODO Add Slider/Pie Chart -->
			<label for="balanceStudent"> Student/Courses Percentage </label>
			<input type="text" id="balanceStudent" placeholder="30%" value="30%">
			</br>
			<label for="balanceLife"> Life Percentage </label>
			<input type="text" id="balanceLife" placeholder="30%" value="30%">
			</br>
			<label for="balanceSleep"> Sleep Percentage </label>
			<input type="text" id="balanceSleep" placeholder="30%" value="30%">
			</br>

			<canvas id="pieChart"></canvas>
		</div>
	</div>

	<!-- 2. Events (academic, personal, sleep) -->
	<!-- This can maybe be a pop-up from the calendar -->
	{{!-- <div class="tab">
		<h3> Events </h3>
	</div> --}}

	<!-- Next and Prev Arrows -->
	<div style="overflow:auto;">
		<div style="float:right;">
			<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
			<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
		</div>
	</div>

	<!-- Circles which indicates the steps of the form: -->
	<div style="text-align:center;margin-top:40px;">
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
	</div>
</form>