<form id="start-form" class="start-form">
	<div class="tab">
		<!-- User Sign Up -->
		<h3> User Information </h3>

		<div class="form-group row">
			<label for="userName" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" id="userName" class="form-control" placeholder="Name">
			</div>
		</div>
		<div class="form-group row">
      <label for="userEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" id="userEmail" class="form-control" placeholder="Email">
      </div>
		</div>  
    <div class="form-group row">
      <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" id="userPassword" class="form-control" placeholder="Password">
      </div>
    </div>
	</div>
	<div class="tab">
		<!-- 1. Courses -->
		<h3> Input Class Schedule </h3>
		<h4> Option 1: Upload .isc file </h4>
		<div>
			<!-- TODO Auto-detect semester or allow user to input -->
			<!-- https://web.stevens.edu/stusched/getics.php?s={year}{semester} -->
			<p> Download Stevens .isc file for semester:
				<a href="https://web.stevens.edu/stusched/getics.php?s=2019s" target="__blank"> Spring 2019</a>
			</p>
		</div>
		<div class="custom-file">
			<p> Upload .ics course schedule </p>
			<input type="file" accept=".ics" class="custom-file-input" id="customFile">
			<label class="custom-file-label" for="customFile">Choose file</label>
		</div>
		</br>

		<h4> Option 2: Input Classes Manually </h4>

		<div>
			<!-- Need an extra div so button stays at bottom -->
			<div>
				<div "form-group">
					{{#each classes as |class classId| }}
						{{> addClass id=classId }}
					{{/each}}
				</div>
				<button type="button" onclick="removeCourseForm()" class="btn btn-outline-primary remove-course-form-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
				<button type="button" onclick="addCourseForm()" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
			</div>	
		</div>
		<!-- </br> -->
	</div>
	<div class="tab">
		<!-- 2. Work/Life Balance Goals -->
		<h3> Student/Life Balance Goals </h3>
		<div>
			<div class="form-group row">
				<label for="balanceStudent" class="col-sm-4 col-form-label">Student/Courses</label>
				<div class="col-sm-3">
					<input type="text" id="balanceStudent" class="balance-input form-control" value="30" onblur="updatePieChart('percent')">
					%
				</div>
				<div class="col-sm-3">
					<input type="text" id="balanceStudentHours" class="balance-input form-control" value="8" onblur="updatePieChart('hours')">
					hrs
				</div>
			</div>
			<div class="form-group row">
				<label for="balanceLife" class="col-sm-4 col-form-label"> Life </label>
				<div class="col-sm-3">
					<input type="text" id="balanceLife" class="balance-input form-control" value="30" onblur="updatePieChart('percent')">
					%
				</div>
				<div class="col-sm-3">
					<input type="text" id="balanceLifeHours" class="balance-input form-control" value="8" onblur="updatePieChart('hours')">
					hrs
				</div>
			</div>
			<div class="form-group row">
				<label for="balanceSleep" class="col-sm-4 col-form-label"> Sleep </label>
				<div class="col-sm-3">
					<input type="text" id="balanceSleep" class="balance-input form-control" value="30" onblur="updatePieChart('percent')">
					%
				</div>
				<div class="col-sm-3">
					<input type="text" id="balanceSleepHours" class="balance-input form-control" value="8" onblur="updatePieChart('hours')">
					hrs
				</div>
			</div>
			<canvas id="pieChart"></canvas>
		</div>
	</div>

	<!-- 2. Events (academic, personal, sleep) -->
	<!-- This can maybe be a pop-up from the calendar -->
	{{!-- <div class="tab">
		<h3> Events </h3>
	</div> --}}


	<!-- Circles which indicates the steps of the form: -->
	<div style="text-align:center;margin-top:40px;">
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
	</div>

	<!-- Next and Prev Arrows -->
	<div style="overflow:auto;">
		<div style="float:right;">
			<button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</button>
			<button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary">Next</button>
		</div>
	</div>


</form>