<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" href="/">
				<img src="/assets/img/favicon.png" alt="heartbeat">
			</a>
			{{#if user}}
			Welcome back, {{user.firstName}}!
			{{else}}
			{{#if userEmail}}
			Welcome back, {{userEmail}}!
			{{else}}
			Welcome!
			{{/if}}
			{{/if}}
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
				data-target="#navbarNavDropdown" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">
						About
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="/calendar">
						Calendar
					</a>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<img src="/assets/img/account_circle.svg" alt="Circle Image"
							class="img-raised rounded-circle nav-img">
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<a href="/profile" class="dropdown-item">
							<i class="material-icons">account_box</i> Profile
						</a>
						<a href="/" class="dropdown-item">
							<i class="material-icons">exit_to_app</i> Log Out
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>