<div class="main">
	<div class="section">
		<div class="container">
			<div align="center" class="row">
				<div class="col-lg-12 col-md-12 ml-auto mr-auto">
					<div class="landing">
						<h1 class="landing-title">Student Life Balance</h1>

						<form action="/login" method="get">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
						</form>
						</br>
						<form action="/startform" method="get">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>